html {
    font-size: small;
}

body {
    color: #566787;
    background: #f5f5f5;
    font-family: "Open Sans", sans-serif;
}

.contact-form {
    padding: 50px;
    margin: 30px 0;
}

.contact-form h1 {
    text-transform: uppercase;
    margin: 0 0 15px;
}

.contact-form .form-control,
.contact-form .btn {
    min-height: 38px;
    border-radius: 2px;
}

.contact-form .btn-primary {
    min-width: 150px;
    background: #299be4;
    border: none;
}

.contact-form .btn-primary:hover {
    background: #1c8cd7;
}

.contact-form label {
    opacity: 0.9;
}

.contact-form textarea {
    resize: vertical;
}

.hint-text {
    font-size: 15px;
    padding-bottom: 15px;
    opacity: 0.8;
}

.bs-example {
    margin: 20px;
}

.modal-confirm {
    color: #636363;
    width: 400px;
}

.modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 14px;
}

.modal-confirm .modal-header {
    border-bottom: none;
    position: relative;
}

.modal-confirm h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -10px;
}

.modal-confirm .close {
    position: absolute;
    top: -5px;
    right: -2px;
}

.modal-confirm .modal-body {
    color: #999;
}

.modal-confirm .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
    padding: 10px 15px 25px;
}

.modal-confirm .modal-footer a {
    color: #999;
}

.modal-confirm .icon-box {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 9;
    text-align: center;
    border: 3px solid #f15e5e;
}

.modal-confirm .icon-box i {
    color: #f15e5e;
    font-size: 46px;
    display: inline-block;
    margin-top: 13px;
}

.modal-confirm .btn,
.modal-confirm .btn:active {
    color: #fff;
    border-radius: 4px;
    background: #60c7c1;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    min-width: 120px;
    border: none;
    min-height: 40px;
    border-radius: 3px;
    margin: 0 5px;
}

.modal-confirm .btn-secondary {
    background: #c1c1c1;
}

.modal-confirm .btn-secondary:hover,
.modal-confirm .btn-secondary:focus {
    background: #a8a8a8;
}

.modal-confirm .btn-danger {
    background: #f15e5e;
}

.modal-confirm .btn-danger:hover,
.modal-confirm .btn-danger:focus {
    background: #ee3535;
}

.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}


/* Done Modal */

.modal-confirm2 {
    color: #636363;
    width: 325px;
    font-size: 14px;
}

.modal-confirm2 .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
}

.modal-confirm2 .modal-header {
    border-bottom: none;
    position: relative;
}

.modal-confirm2 h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -15px;
}

.modal-confirm2 .form-control,
.modal-confirm2 .btn {
    min-height: 40px;
    border-radius: 3px;
}

.modal-confirm2 .close {
    position: absolute;
    top: -5px;
    right: -5px;
}

.modal-confirm2 .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
}

.modal-confirm2 .icon-box {
    color: #fff;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -70px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    z-index: 9;
    background: #82ce34;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.modal-confirm2 .icon-box i {
    font-size: 58px;
    position: relative;
    top: 3px;
}

.modal-confirm2.modal-dialog {
    margin-top: 80px;
}

.modal-confirm2 .btn {
    color: #fff;
    border-radius: 4px;
    background: #82ce34;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border: none;
}

.modal-confirm2 .btn:hover,
.modal-confirm2 .btn:focus {
    background: #6fb32b;
    outline: none;
}

.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}


/* Done2 Modale */

.modal-confirm3 {
    color: #434e65;
    width: 525px;
}

.modal-confirm3 .modal-content {
    padding: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

.modal-confirm3 .modal-header {
    background: #47c9a2;
    border-bottom: none;
    position: relative;
    text-align: center;
    margin: -20px -20px 0;
    border-radius: 5px 5px 0 0;
    padding: 35px;
}

.modal-confirm3 h4 {
    text-align: center;
    font-size: 36px;
    margin: 10px 0;
}

.modal-confirm3 .form-control,
.modal-confirm3 .btn {
    min-height: 40px;
    border-radius: 3px;
}

.modal-confirm3 .close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
    text-shadow: none;
    opacity: 0.5;
}

.modal-confirm3 .close:hover {
    opacity: 0.8;
}

.modal-confirm3 .icon-box {
    color: #fff;
    width: 95px;
    height: 95px;
    display: inline-block;
    border-radius: 50%;
    z-index: 9;
    border: 5px solid #fff;
    padding: 15px;
    text-align: center;
}

.modal-confirm3 .icon-box i {
    font-size: 64px;
    margin: -4px 0 0 -4px;
}

.modal-confirm3.modal-dialog {
    margin-top: 80px;
}

.modal-confirm3 .btn,
.modal-confirm3 .btn:active {
    color: #fff;
    border-radius: 4px;
    background: #eeb711 !important;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border-radius: 30px;
    margin-top: 10px;
    padding: 6px 20px;
    border: none;
}

.modal-confirm3 .btn:hover,
.modal-confirm3 .btn:focus {
    background: #eda645 !important;
    outline: none;
}

.modal-confirm3 .btn span {
    margin: 1px 3px 0;
    float: left;
}

.modal-confirm3 .btn i {
    margin-left: 1px;
    font-size: 20px;
    float: right;
}

.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}

.statistics {
    position: absolute;
    top: 0;
    right: 0;
    font-size: large;
    font-weight: bold;
}

#submit_btn {
    font-family: RooneySans-Regular, "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", sans-serif;
    ;
}